body{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.h1{
    margin: 0;
    margin-top: 5%;
}
.fondo{
    background-color: antiquewhite;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3,1fr);;
    align-items: center;
}
.turnoactual{
    background-color: rgb(255, 255, 255);
    color: blue;
    height: 300px;
    display: grid;
    width: 90%;
    justify-self: center;
    border: 20px solid black;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
}
.grandes{
    display: grid;
    position: absolute;
    font-size: 800%;
    top: 140px;
    right: 220px;
}
.imagen1{
    margin-top: 20%;
    height: 100px;
    width: 100px;
    cursor: pointer;
}
.turnosdiv{
    background-color: rgb(255, 255, 255);
    height: 300px;
    display: grid;
    width: 90%;
    justify-self: center;
    border: 2px solid black;
    overflow: auto;
}
.tomarturno{
    background-color: rgb(255, 255, 255);
    height: 300px;
    width: 90%;
    justify-self: center;
    display: grid;
    place-items: center;
    border: 4px solid black;
    text-align: center;
    font-size: 70%;
}
.botones{
    width: 180px;
    height: 40px;
    margin-top: 5%;
    background-color:salmon;
    cursor: pointer;
    border-radius: 5px;
}
.botonregresar{
    width: 180px;
    height: 40px;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    justify-self: center;
}
.botones1{
    width: 100px;
    height: 40px;
    margin-top: 5%;
    background-color:#6bfa2d;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 5%;
}
.botones2{
    width: 100px;
    height: 40px;
    margin-top: 5%;
    background-color:#f01d06;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 5%;
}
.foto1{
    width: 50px;
    height: 50px;
}
.pegar{
    display: flex;
}
.cont{
    display: flex;
}
.table{
    border: 2px solid black;
    border-collapse: collapse;
}
th, tr, td{
    border: 2px solid black;
}
th{
    background-color:crimson;
}
td{
    height: 50px;
}
.head1{
    width: 30%;
    height: 50px;
}
.head2{
    width: 70%;
    height: 50px;
}
tbody{
    height: 50px;
}


